body{
    font-family: "Poppins", sans-serif;
    padding-left: 100px;
    padding-right: 100px;
}
h1{
    font-size: 50px;
}
.skip{
    color: coral;
}
#flx-bg{
    background-color: #e5e5e5;
}
.flex-container{
    display: flex;
    padding-top: 50px;
    padding-bottom: 100px;
}
.bg-img{
    background-image: url(/images/shapes/7.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding-left: 3%;
}
.half-width img{
    width: 80%;
}
.order-btn{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 40px;
    border-radius: 10px;
    color: aliceblue;
}
#person-img{
    width: 44.5%;
}
.my-recp-pdiv{
    padding-bottom: 100px;
}
.my-recp{
    text-align: center;
}
.rep-1{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    border-radius: 5%;
    box-shadow: 0px 0px 10px 0px
}
.rep-1 img{
    width: 243.844px;
    height: 185.234px;
    border-radius: 5%;
}
.rep-2{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    border-radius: 5%;
    box-shadow: 0px 0px 10px 0px;
}
.rep-2 img{
    width: 243.844px;
    height: 185.234px;
    border-radius: 5%;
}
.rep-3{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    border-radius: 5%;
    box-shadow: 0px 0px 10px 0px
}
.rep-3 img{
    width: 243.844px;
    height: 185.234px;
    border-radius: 5%;
}
.foods-flex{
    display: flex;
}
.fllow-flex{
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 0px 0px 10px 0px;
    margin-bottom: 100px;
}
.youtube{
    padding-left: 40px;
}
.instagram{
    padding-left: 40px;
}
.drible{
    padding-left: 50px;
}
#yout{
    padding-left: 40px;
}
#inst{
    padding-left: 40px;
}
#drbl{
    padding-left: 40px;
}